<div class="inner-banner-section all-pages-use-cls" style='background-image:url({{ section.settings.bg-img | img_url : 'master'}});'>
<h2>{{ section.settings.title }}</h2>
  <p>{{ section.settings.description }}</p>
  <div class="shop_btn">
  <a href="{{ section.settings.link-url }}">{{ section.settings.btn-tex }}</a>
  </div>
</div>

{% schema %}
{
  "name": "Inner Banner",
  "class": "index-section",
  "settings": [
     {
      "type": "image_picker",
      "id": "bg-img",
      "label": "Background Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description Heading"
    },
    {
      "type": "text",
      "id": "btn-tex",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "link-url",
      "label": "BUtton Url"
    }
  ],
  "presets": [
    {
      "name": "Inner Banner",
      "settings": {}
    }
  ]
}
{% endschema %}