<div class="category_section_container badges_layer {{ section.settings.ext-cls }}">
  <div class="category_box_section container">
    <div class="about_us_content">
    {% for block in section.blocks %}
  <div class="content_box">
    <div class="content_img">
      <img  class="late_load" data-src="{{ block.settings.icon-img | img_url : 'master' }}" class="icon-img">
    </div>
    <div class="content_heading">
      <h3>{{ block.settings.title }}</h3>
    </div>
    <div class="content_para_fr">
      {{ block.settings.sub-title }}
    </div>
  </div>

  {% endfor %}

  </div>
       <div class="shop_btn grid_cont_for">
      <a href="{{ section.settings.link_url }}">{{ section.settings.button_url }}</a>
    </div>
</div> 
  
</div> 



{% schema %}
  {
    "name": "Badges",
    "settings": [
       {
      "type": "text",
      "id": "ext-cls",
      "label": "Extra Class"
    },

            {
      "type": "text",
      "id": "button_url",
      "label": "Button Heading"
    },
       {
      "type": "url",
      "id": "link_url",
      "label": "Button Link"
    }

    ],
    "blocks": [
  {
    "type": "block",
    "name": "column",
    "settings": [
            {
      "type": "image_picker",
      "id": "icon-img",
      "label": "Icon Image"
    },
      {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
      {
      "type": "richtext",
      "id": "sub-title",
      "label": "Sub Heading"
    }

    ]
  }
],
    "presets" : [
      {
        "name": "Badges"
      }
    ]
  }
{% endschema %}