<div class="category_section_container ">
  <div class="category_box_section container">
  <div class="category_box_top_section">
    <div class="box_head_section">
<div class="cat_img_top_mid">
  <img src="https://cdn.shopify.com/s/files/1/1955/0423/files/Vector_26f153a4-fc86-4a75-89d1-edbd698282b2.svg?v=1719658722" alt="">
</div>
<div class="main_heading_cat">
  <h2>{{ section.settings.title }}</h2>

</div>
<div class="cat_para">
{{ section.settings.sub-title }}
</div>
  </div>
  <div class="category_banner_box ">
    <div class="category_box_">
 
       <a href="{{ section.settings.url1 }}" class="clicale">
      <div class="main_img_box">
     
        <img src="{{ section.settings.img1 | img_url : 'master' }}" alt="">
      </div>
      <div class="abs_text_section">
        <div class="text_intt">
          <p>{{ section.settings.text1 }}</p>
        </div>
      </div>
           </a>
        
    </div>
 {% if section.settings.url2 != blank %} 
    <div class="category_box_">
          
             <a href="{{ section.settings.url2 }}" class="clicale">
      <div class="main_img_box">
      
        <img src="{{ section.settings.img2 | img_url : 'master' }}" alt="">
      </div>
      
      <div class="abs_text_section">
        <div class="text_intt">
          <p>{{ section.settings.text2 }}</p>
        </div>
      </div>
                   </a>
            
    </div>
    {% endif %}
</div>
</div>
     
    {% if section.settings.btext %}
  <div class="shop_btn grid_cont_for">
      <a href="{{ section.settings.burl }}">{{ section.settings.btext }}</a>
    </div>
    {% endif %}
</div> 
  
</div> 


{% schema %}
  {
    "name": "Category",
    "settings": [
      {
      "type": "header",
      "content": "Box 1",

      },
      {
      "type": "text",
      "id": "title",
      "label": "Heading"
      },
       {
      "type": "richtext",
      "id": "sub-title",
      "label": "Sub Heading"
      },
      {
      "type": "url",
      "id": "url1",
      "label": "url"
      },
      {
      "type": "image_picker",
      "id": "img1",
      "label": "image"
      },
      {
      "type": "text",
      "id": "text1",
      "label": "Title"
      },{
      "type": "header",
      "content": "Box 2",

      },
      {
      "type": "url",
      "id": "url2",
      "label": "url"
      },
      {
      "type": "image_picker",
      "id": "img2",
      "label": "image"
      },
      {
      "type": "text",
      "id": "text2",
      "label": "Title"
      },{
      "type": "header",
      "content": "Button",

      },
        {
          "id" : "burl",
          "type" : "url",
          "label" : "URL"
      },{
          "id" : "btext",
          "type" : "text",
          "label" : "Button Text",
          "default":"Shop now"
      }
      ],
    "presets" : [
      {
        "name": "Category"
      }
    ]
  }
{% endschema %}