<div class="car-div" data-background-image-url='{{ section.settings.bg-img | img_url : 'master'}}'>
  <div class="container">
        <div class="left_side_content-div">
      <div class="car_para_box">
        <h2>{{ section.settings.title }}</h2>
    </div>   
    <div class="ig_pic">
        <img   class="late_load" data-src="{{ section.settings.insta-image | img_url : 'master' }}"  >
    </div> 
   </div>
    <div class="car-div-inner-div">
      <div class="iphone_structre_img-n">
      <div class="imd">
        <img   class="late_load" data-src="{{ section.settings.phone-frame | img_url : 'master' }} "  >
      </div>
        <div class="single-image-slider">
           {% assign img_blocks = section.blocks | where: 'type', 'img' %}
           {% for block in img_blocks %}
              <div class="single-image-div">
           <img class="first_box_img late_load"  data-src="{{ block.settings.image | img_url: "master" }}" >
              </div>
           {% endfor %}
        </div>
      <div class="thumb-img-div">
           {% assign img2_blocks = section.blocks | where: 'type', 'img-content' %}
           {% for block in img2_blocks %}
               <div class="thum-img">
           <img    class="late_load" data-src="{{ block.settings.image2 | img_url: "master" }}" width=100 height=100 >
               </div>
           {% endfor %}
      </div>
      </div>
    </div>
  </div>
     <div class="shop_btn grid_cont_for">
      <a href="{{ section.settings.link_url }}">{{ section.settings.button_url }}</a>
    </div>
</div>



{% schema %}
  
  {
    "name": "Iphone Slider",
    "settings": [
       {
      "type": "image_picker",
      "id": "bg-img",
      "label": "Background Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "image_picker",
      "id": "insta-image",
      "label": "Image"
    },
       {
      "type": "image_picker",
      "id": "phone-frame",
      "label": "Image"
    },
          {
      "type": "text",
      "id": "button_url",
      "label": "Button Heading"
    },
       {
      "type": "url",
      "id": "link_url",
      "label": "Button Link"
    }
  ],
    "blocks": [
      { "type": "img",
        "name": "Image",
        "limit": 20,
        
        "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
        
      },
      { "type": "img-content",
        "name": "Image Content",
        "limit": 20,
        
        "settings": [
        {
          "type": "image_picker",
          "id": "image2",
          "label": "Image"
        }
      ]
        
      }
      
    ],
      
   
    "presets": [
      {
        "name": "Iphone Slider",
  "blocks": [
    {
      "type": "img"
    },
    {
      "type": "img-content"
    }
  ]
      }
    ]
  }
 
{% endschema %}