 <section id="hero" class="collection-list-banner">
      <div class="icon">
      <img src="https://cdn.shopify.com/s/files/1/1955/0423/files/exterior_322bf904-6dd7-47fc-8dae-1092071bd736.png?v=1721427205">
      </div>
      <div class="banner-text">
        <h1>{{ collection.title }}</h1>
        <p>{{ collection.description }}</p>
        </div>
    </section>
   <div class="collection-container">
     <div class="container">
    <div class="card-container">
      
      {% assign colname = collection.metafields.custom.sub_colllections.value %}
     {% for collectiosn  in colname %}
 
    
      <div class="card">
        <div class="collection-same-image-box"> <img src="{% if collectiosn.metafields.custom.parent_image.value != blank %}{{ collectiosn.metafields.custom.parent_image.value | img_url  : 'master'  }}{% else %}{{ collectiosn.featured_image | img_url : 'master' }}{% endif %}" alt="C5"></div>
        <div class="card-info">
          <h2>{% if collectiosn.metafields.custom.parent_title != blank %}{{ collectiosn.metafields.custom.parent_title }}{% else %}{{ collectiosn.title }}{% endif %}</h2>
           <div class="model_year w3_bg">
          <p>{{ collectiosn.metafields.custom.description_or_year }}</p>
        </div>
          <a href="{{ collectiosn.url }}">View Collection</a>
         
        </div>
      </div>
   {% endfor %}
            
    </div>
       </div>
  </div>
<style>
  /* collection cate css starts */

  #hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
        position: relative;
    color: #fff7f7;
    border-radius: 5px;
    padding: 50px 20px;
    margin-bottom: 10px;
     background: linear-gradient(-43.27deg, #cd1631 53.39%, #670b19 97.89%)
}
#hero::before{
    background-image: url('https://cdn.shopify.com/s/files/1/1955/0423/files/IMG_3852.jpg?v=1721145187');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    background-position: center;
    opacity: 0.1;
    width: 100%;
    height: 100%;
    padding: 20px;
    margin-bottom: 20px;
    content: "";
}
.collection-list-banner .icon{
  text-align: center;
     width: 100%;
}
.collection-list-banner .icon img{
  width: 81px;
}
#hero h1 {
    margin-bottom: 10px;
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    font-family: Speed Fez;
    text-align: center;
}
#hero p{
     margin-top: 10px;
     font-size: 16px;
     color: #fff;
     line-height: 21px;
     text-align: center;
}  
  .collection-container {
    text-align: center;
  }
  
  
  .collection-container .card-container {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 60px 15px;
  }
  
  .collection-container .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: transparent;
    width: 100%;
    align-items: center;
    border: 1px solid #737373;
    border-radius: 3px;
    max-width: calc(25% - 15px);
    position: relative;
    text-align: center;
    height: 380px;
}
 .collection-container .card:hover{
  border: 1px solid black;
 }
  
.collection-container .card img {
    width: 100%;
    height: 260px;
    -webkit-transition: .4s ease-in-out;
    object-fit: cover;
    cursor: pointer;
  margin-top: 13px;
}
  .collection-container .card-info {
    margin-top: 10px;
    padding: 15px;
    text-align: center;
  }
  
 .collection-container .card-info h2 {
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
    font-family: 'Rubik';
}
.collection-container .card-info a {
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    text-decoration: underline;
}
  
  .collection-container .card-info a:hover {
    text-decoration: underline;
    color: #7a7a7a;

  }
  /* Zoom In #1 */
.collection-container .card img {

}
.collection-container .card:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);

}
.collection-container .card-info .model_year p {
    font-size: 14px;
    margin-top: 5px;
}
.collection-container .card:hover {
    border: 1px solid #E51937;
    cursor: pointer;
}

.collection-container .card:hover a {
    color: #737373;
}
  .collection-same-image-box {
    width: 90%;
    height: 260px;
    overflow: hidden;
    box-sizing: border-box;
    margin-top:10px;
   
}
/* collection cate css end */

  @media only screen and (max-width: 767px) {
.collection-container .card {
    max-width: 100%;
    height: auto;
}
}
</style>







{% schema %}
{
  "name": "Mega Collection",
  "settings": [],
  "presets": [
    {
      "name": "Mega Collection",
    }
  ]
}
{% endschema %}

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "CollectionPage",
    "name": "{{ collection.title | strip_html | replace: '\"', ' ' }}",
    "url": "{{ collection.url }}",
    "mainEntity": {
        "@type": "WebPageElement",
        "offers": {
            "@type": "Offer",
            "itemOffered": [
                {% for product in collection.products %}
                {
                    "@type": "Product",
                    "image": "{{ product | img_url: '2560w' }}",
                    "name": "{{ product.title | strip_html | replace: '\"', ' ' }}",
                    "offers": {
                        "@type": "Offer",
                        "availability": "http://schema.org/InStock",
                        "price": "{{ product.price | money_without_currency }}",
                        "priceCurrency": "USD",
                        "url": "{{ product.url }}"
                    },
                    "sku": "{{ product.sku }}"
                }{% unless forloop.last %},{% endunless %}
                {% endfor %}
            ]
        }
    }
}
</script>