
<div class="product-video-section {{ section.settings.extcls }}">
  <div class="container">
  <div class="dflex-prod-vid-div">
  <div class="col-left-cont-div">
     <div class="icon-content_img">
      <img src="{{ section.settings.icon | img_url : 'master'  }}" class="icon-img">
    </div>
<div class="box_heading">
    <h2>{{ section.settings.title }}</h2>
  </div>
  </div>

  <div class="col-right-video-div">
     <video class="main-vdo" playsinline id='full-video' loop autoplay muted preload='none' width="600"  >
       <source id='mp4' src="{{ section.settings.video }}" type='video/mp4' />
       <source src="{{ section.settings.video }}" type="video/ogg">
    </video>
  </div>
  </div>
  </div>
</div>


<script>
  var vdo = document.getElementById("full-video");
  setTimeout(function() {
    if(vdo){
    vdo.play();
  };
  },2000)
  
</script>


{% schema %}
  {
    "name": "Product Video Section",
    "settings": [
      {
          "id" : "extcls",
          "type" : "text",
          "label" : "Extra Class"
      },
      {
          "id" : "icon",
          "type" : "image_picker",
          "label" : "Icon Image"
      },
      {
        "id": "title",
        "type": "text",
        "label": "Heading"
      },

      {
        "id": "video",
        "type": "url",
        "label": "video"
      }
    ],
    "presets": [
      {
        "name": "Product Video Section",
        "settings": {}
      }
    ]
    
  }
{% endschema %}







