<div class="text-with-image">
  <div class="container-custom">
      <div class="d-flex-div">
          <div class="col-left-text-with-image">
              <div class="text-width-img-cont-div">
                 <div class="icon-content_img">
      <img src="{{ section.settings.icon | img_url : 'master'  }}" class="icon-img">
    </div>
                 <div class="box_heading">
                    <h2>{{ collection.title }}</h2>
                  </div>
             {% if collection.metafields.custom.below_title != blank %} <style>
           body.template-collection .select-options-for {
    padding-top: 0px !important;
}
        body.template-collection div#select_your_car_for {
    border-top: 0.5px solid #b9142d;
    padding-top: 39px;
}
             </style>  <p>{{ collection.metafields.custom.below_title }}</p><br>{% endif %}
                <p>{{ collection.description }}</p>
              </div>
          </div>
        <!-- <div class="col-right-text-with-image">
              <div class="text-with-img-div">
            <img src="{{ collection | img_url: 'master' }}" alt="{{ collection.image.alt }}" />
              </div>
          </div> -->
      </div>
  </div>
</div>


{% schema %}
{
  "name": "Text With Image",
  "settings": [
     {
          "id" : "icon",
          "type" : "image_picker",
          "label" : "Icon Image"
      }

  ],
  "presets": [
    {
      "name": "Text With Image",
      "settings": {}
    }
  ]
}
{% endschema %}