<section class="three-step-section {{ section.settings.ext-cls }}">
  <div class="box_heading">
    <h2>{{ section.settings.headingh }}</h2>
  </div>
  <div class="container">
    <div class="col-step-main-div">
      {% for block in section.blocks %}
      <div class="col-inner-div">
        <!-- <h3>{{ block.settings.step }}</h3> -->
        <h2>{{ block.settings.subheading }}</h2>
        <div class="img-circle-div">
        <img src="{{ block.settings.iconimage | img_url: 'master' }}">
        </div>
        <div class="cont-per-div">
          <h2>{{ block.settings.yourpersonalized }}</h2>
          <p>{{ block.settings.paragraph }}</p>
        </div>
      </div>
      {% endfor %}

     
    </div>
       <div class="shop_btn grid_cont_for">
      <a href="{{ section.settings.link_url }}">{{ section.settings.button_url }}</a>
    </div>
  </div>
</section>


{% schema %}
{
  "name": "Tree Step Section",
  "class": "index-section",
  "settings": [
     {
      "type": "text",
      "id": "ext-cls",
      "label": "Extra Class"
    },
     {
      "type": "text",
      "id": "headingh",
      "label": "Heading"
    },
         {
      "type": "text",
      "id": "button_url",
      "label": "Button Heading"
    },
       {
      "type": "url",
      "id": "link_url",
      "label": "Button Link"
    }
  
  ],
  "blocks":[
    {
      "type": "Steps",
      "name": "Steps",
      "settings": [
        {
          "type": "text",
          "id":"step",
          "label":"Step Heading"
        },
         {
          "type": "text",
          "id":"subheading",
          "label":"Sub Heading"
        },
          {
          "type": "image_picker",
          "id":"iconimage",
          "label":"Icon Image"
        },
        {
          "type": "text",
          "id":"yourpersonalized",
          "label":"Heading"
        },
         {
          "type": "text",
          "id":"paragraph",
          "label":"Sub Heading"
   }
      ]
    }
  ],
  "presets": [
    {
      "name": "Tree Step Section",
      "settings": {}
    }
  ]
}
{% endschema %}

