{% if section.settings.img != blank %} <style>
    .abs-img, .video-main-section:before {
      opacity: 0;
    }
  </style>
    {% endif %}
<style>
  @media  (max-width:767px){
.abs-img-video-section img.hero-desktop-img{
    display:none !important;
}
.abs-img-video-section img.hero-mob-img{
min-height:500px;
}
  }
   @media  (min-width:767px){
.abs-img-video-section img.hero-mob-img{
  display:none !important;
}

  }
</style>
    
<div class="video-main-section">

  <!-- <div class="abs-img">
    <img src="https://cdn.shopify.com/s/files/1/0568/1007/8283/files/Clip_path_group.svg?v=1719343581">
  </div> -->
      {% if section.settings.img != blank %}
    <div class="abs-img-video-section">
      <img src="{{ section.settings.img | img_url: 'master'}}"  data-src="{{ section.settings.img | img_url: 'master'}}" class="load_dsk hero-desktop-img">
      <img data-src="{{ section.settings.mob-img | img_url: 'master'}}" src="{{ section.settings.mob-img | img_url: '100x'}}" width=100 height=400 class="load_mb hero-mob-img"  >
    </div>
      {% else %}
       <video class="main-vdo" playsinline id='full-video' loop autoplay muted preload='none' width="600"  >
         <source id='mp4' src="{{ section.settings.video }}" type='video/mp4' />
         <source src="{{ section.settings.video }}" type="video/ogg">
      </video>
  {% endif %}
  
  <div class="video-heading-with-para">
    {% if section.settings.title != blank %}
     <div class="vdo-para-box">
      <div class="box_heading-vdo">
        <p>Welcome To</p> <p class="cls">dynaperformance</p>
      </div>
       
      <div class="vdo-para">
        <h2>{{ section.settings.title }}</h2>
      </div>
         
      <div class="shop_btn">
        <a href="{{ section.settings.link_url }}">{{ section.settings.button_url }}</a>
      </div>
     </div>
  
  
  <div class="bottom_img">
    <a href ="#select_your_car_for"> <img src="https://cdn.shopify.com/s/files/1/1955/0423/files/Group_10.svg?v=1719658561" alt=""></a>
  </div>
{% endif %}
</div>
</div>


<script>


  
 
  var vdo = document.getElementById("full-video");
  setTimeout(function() {
    if(vdo){
    vdo.play();
  };
  },2000)
  
</script>

{% schema %}
    {
      "name": "Video Section",
      "settings": [
        {
          "id": "title",
          "type": "html",
          "label": "Title"
        },
            {
        "type": "text",
        "id": "button_url",
        "label": "Button Heading"
      },
         {
        "type": "url",
        "id": "link_url",
        "label": "Button Link"
      },
        {
          "id": "video",
          "type": "url",
          "label": "video"
        },
        {
          "type": "image_picker",
        "id": "img",
        "label": "Image"
        },
        {
          "type": "image_picker",
        "id": "mob-img",
        "label": "Mobile Image"
        }
      ],
      "presets": [
        {
          "name": "Video Section",
          "settings": {}
        }
      ]
      
    }
  {% endschema %}